.resume {
  max-width: 380px;
  display: flex;
  flex-direction: column-reverse;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  overflow: hidden;
  margin: 30px auto;

  @include respond(sm) {
    max-width: 480px;
  }
  @include respond(md) {
    max-width: 576px;
  }
  @include respond(lg) {
    max-width: 768px;
  }
  @include respond(xl) {
    max-width: 1000px;
    margin: 60px auto;
    flex-direction: row;
  }
  @include respond(xxl) {
    max-width: 1200px;
  }
}

.experience {
  padding-block-end: 10px;
  margin-block-end: 20px;
  &:not(:last-child) {
    border-bottom: 1px solid rgba(102, 102, 102, 0.4);
  }

  @include respond(xxl) {
    border-bottom: none;
    margin-block-end: 30px;
  }
}

.experience__header,
.education__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}

.experience__role,
.education__degree {
  max-width: 360px;
  font-size: 1.1rem;
  font-weight: bold;

  @include respond(sm) {
    font-size: 1.2rem;
  }
  @include respond(xl) {
    max-width: 430px;
  }
  @include respond(xxl) {
    max-width: 500px;
  }
}

.education,
.projects-list {
  margin-block-end: 30px;
}

.experience__company,
.education__school {
  color: var(--text-gray);
  font-style: italic;
}

.experience__date-wrapper,
.education__date-wrapper {
  max-width: 120px;
  text-align: end;

  @include respond(sm) {
    max-width: none;
  }
}

.experience__date,
.education__date {
  font-size: 0.85rem;
  white-space: nowrap;
  // margin-left: 20px;
  @include respond(sm) {
    font-size: 0.9rem;
  }
}

.experience__details {
  a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  a:hover {
    color: rgba(20, 20, 249, 0.8);
  }
}

.experience__details li {
  // margin-inline-start: 30px;
  margin-bottom: 8px;
}

.projects-list li {
  margin-bottom: 8px;
}

.projects-list {
  a {
    text-decoration: none;
    color: var(--text-dark);
    font-weight: 500;
  }
}
